@using DigiAviator.Core.Models
@model AirportDetailsViewModel

@{
	ViewData["Title"] = "Airport - Details";
}

<!-- Main content -->
<section class="content">

	<!-- Default box -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">@Model.Name - Details</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
					<div class="row">
						<div class="col-12 col-sm-4">
							<div class="info-box bg-light">
								<div class="info-box-content">
									<span class="info-box-text text-center text-muted">Elevation</span>
									<span class="info-box-number text-center text-muted mb-0">@Model.Elevation ft.</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="info-box bg-light">
								<div class="info-box-content">
									<span class="info-box-text text-center text-muted">Latitude</span>
									<span class="info-box-number text-center text-muted mb-0">@Model.Latitude</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="info-box bg-light">
								<div class="info-box-content">
									<span class="info-box-text text-center text-muted">Longitute</span>
									<span class="info-box-number text-center text-muted mb-0">@Model.Longitude</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h4>Runway information</h4>
							<div class="card-body">
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Rwy</th>
											<th>Course</th>
											<th>Length</th>
											<th>Slope</th>
											<th>TORA</th>
											<th>TODA</th>
											<th>ASDA</th>
											<th>LDA</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var runway in Model.Runways)
										{
											<tr>
												<td>@runway.Designation</td>
												<td>@runway.MagneticCourse</td>
												<td>@runway.Length</td>
												<td>@runway.Slope</td>
												<td>@runway.TORA</td>
												<td>@runway.TODA</td>
												<td>@runway.ASDA</td>
												<td>@runway.LDA</td>
											</tr>
										}
									</tbody>
									<tfoot>
										<tr>
											<th>Rwy</th>
											<th>Course</th>
											<th>Length</th>
											<th>Slope</th>
											<th>TORA</th>
											<th>TODA</th>
											<th>ASDA</th>
											<th>LDA</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
					<h3 class="text-primary">Description</h3>
					<p class="text-muted">@Model.Description</p>
					<br>
					<div class="text-muted">
						<p class="text-sm">
							ICAO Identifier
							<b class="d-block">@Model.IcaoIdentifier</b>
						</p>
						<p class="text-sm">
							Type
							<b class="d-block">@Model.Type</b>
						</p>
					</div>

					<h5 class="mt-5 text-muted">Charts</h5>
					<ul class="list-unstyled">
						<li>
							<a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
						</li>
						<li>
							<a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
						</li>
						<li>
							<a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
						</li>
						<li>
							<a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
						</li>
						<li>
							<a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
						</li>
					</ul>
					<div class="text-center mt-5 mb-3">
						<a asp-area="" asp-controller="Airport" asp-action="AddRunway" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Add runway</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->

</section>
<!-- /.content -->
