@using DigiAviator.Core.Models
@model CalculatedWeightBalanceViewModel

@{
	ViewBag.Title = "Flight preparation - Weight And Balance";
}

<!-- PAGE TITLE -->
<div class="text-center">
	<h1 class="display-4">Result</h1>
		<p>
			Calculated weight, arm and moment for each phase of flight
		</p>
</div>

<div class="card">
	<!-- WEIGHT AND BALANCE RESULT FORM -->
	<div class="card-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Item</th>
					<th>Weight</th>
					<th>Arm</th>
					<th>Moment</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="badge bg-danger">Zero fuel weight</span></td>
					<td>@Model.ZeroFuelWeight lbs.</td>
					<td>@Model.ZeroFuelWeightArm in.</td>
					<td>@Model.ZeroFuelWeightMoment</td>
				</tr>
				<tr>
					<td><span class="badge bg-warning">Ramp weight</span></td>
					<td>@Model.RampWeight lbs.</td>
					<td>@Model.RampWeightArm in.</td>
					<td>@Model.RampWeightMoment</td>
				</tr>
				<tr>
					<td><span class="badge bg-primary">Takeoff weight</span></td>
					<td>@Model.TakeoffWeight lbs.</td>
					<td>@Model.TakeoffWeightArm in.</td>
					<td>@Model.TakeoffWeightMoment</td>
				</tr>
				<tr>
					<td><span class="badge bg-success">Landing weight</span></td>
					<td>@Model.LandingWeight lbs.</td>
					<td>@Model.LandingWeightArm in.</td>
					<td>@Model.LandingWeightMoment</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
