@using DigiAviator.Core.Models
@model MedicalViewModel

@{
	ViewData["Title"] = "Medical - Details";
}

<div class="text-center">
	<h1 class="display-4">Medical</h1>
	<p>
		Add or remove fitness ratings and limitations, modify your medical information:
	</p>
</div>


<div class="card card-primary card-outline">
	<div class="card-body box-profile">
		<div class="text-center">
			<img class="profile-user-img img-fluid img-circle"
				 src="~/img/passport.png"
				 alt="User profile picture">
		</div>

		<h3 class="profile-username text-center">@Model.FirstName @Model.MiddleName @Model.LastName</h3>

		<p class="text text-center">Nationality: @Model.Nationality</p>
		<p class="text text-center">Birth date: @Model.BirthDate</p>		

		<ul class="list-group list-group-unbordered mb-3">
			<li class="list-group-item">
				<b>Issued by:</b> <a class="float-right">@Model.IssuingAuthorithy</a>
			</li>
			<li class="list-group-item">
				<b>Issued on:</b> <a class="float-right">@Model.IssuedOn</a>
			</li>
			<li class="list-group-item">
				<b>Medical number</b> <a class="float-right">@Model.MedicalNumber</a>
			</li>
			<li class="list-group-item">
				<b>License number</b> <a class="float-right">@Model.LicenseNumber</a>
			</li>
		</ul>

		<a asp-area="" asp-controller="Medical" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><b>Edit general information</b></a>
	</div>
	<!-- /.card-body -->
</div>
<!-- /.card -->
<!-- About Me Box -->
<div class="card card-warning">
	<div class="card-header">
		<h3 class="card-title">Limitations</h3>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="example2" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Limitation code</th>
					<th>Description</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var limitation in Model.Limitations)
				{
					<tr>
						<td>@limitation.LimitationCode</td>
						<td>@limitation.Description</td>
						<td><form asp-area="" asp-controller="Medical" asp-action="DeleteLimitation" asp-route-id="@limitation.Id" method = "post" ><button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button></form></td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<th>Limitation code</th>
					<th>Description</th>
					<th>Delete</th>
				</tr>
			</tfoot>
		</table>
		<a asp-area="" asp-controller="Medical" asp-action="AddLimitation" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><b>Add limitation</b></a>
	</div>
	<!-- /.card-body -->
</div>

<!-- About Me Box -->
<div class="card card-success">
	<div class="card-header">
		<h3 class="card-title">Fit as</h3>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="example2" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Fitness class</th>
					<th>Valid until</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var fitnessType in Model.FitnessTypes)
				{
					<tr>
						<td>@fitnessType.FitnessClass</td>
						<td>@fitnessType.ValidUntil</td>
						<td><form asp-area="" asp-controller="Medical" asp-action="DeleteFitness" asp-route-id="@fitnessType.Id" method = "post" ><button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button></form></td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<th>Fitness class</th>
					<th>Valid until</th>
					<th>Delete</th>
				</tr>
			</tfoot>
		</table>
		<a asp-area="" asp-controller="Medical" asp-action="AddFitness" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><b>Add medicall fitness type</b></a>
	</div>
	<!-- /.card-body -->
</div>